*.pdf
*.docx
*.doc
*.out
*.exe
*.zip
*.png
*.jpg
*.svg
*.rar
*.txt
*.ppt
*.pptx
CS(Comm.)/
*.ai
*.jpeg
*.csh
*.cfg
*/*/bin/
*/*/*/bin/
*/*/*/*/bin/
*/*/lib/
*/*/*/lib/
*/*/*/*/lib/
*/*/share/
*/*/*/share/
*/*/*/*/share/
*.pyc
.vscode/
ogl-master/
node_modules/
tasm/
*.asm~